language: node_js

node_js:
  - 10.15.3

branches:
  only:
    - master

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

install:
  - rm -rf dist/*
  - npm install
  - npm install --save -g @angular/cli @angular-devkit/build-angular @angular/compiler @angular/compiler-cli --silent

script:
  - ng build --prod
  - npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox

